Y_COR: 1 X_COR: 0 IPIN: 8 OPIN: 8 CHANXY: 25 IPIN_IN: 32 CHANXY_IN: 81
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 2 2 9 2 2 2 2 9 2 2 2 2 9 2 2 2 2 8 2 2 2 2 8 1 1 
CHANXY_INDEX_START: 0 2 4 13 15 17 19 21 30 32 34 36 38 47 49 51 53 55 63 65 67 69 71 79 80 
CHANXY_CONFIG_WIDTH: 1 1 4 1 1 1 1 4 1 1 1 1 4 1 1 1 1 3 1 1 1 1 3 0 0 
CHANXY_CONFIG_START: 0 1 2 6 7 8 9 10 14 15 16 17 18 22 23 24 25 26 29 30 31 32 33 36 36 

Y_COR: 2 X_COR: 0 IPIN: 8 OPIN: 8 CHANXY: 10 IPIN_IN: 32 CHANXY_IN: 86
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 9 9 9 8 8 9 9 9 8 8 
CHANXY_INDEX_START: 0 9 18 27 35 43 52 61 70 78 
CHANXY_CONFIG_WIDTH: 4 4 4 3 3 4 4 4 3 3 
CHANXY_CONFIG_START: 0 4 8 12 15 18 22 26 30 33 

Y_COR: 3 X_COR: 0 IPIN: 8 OPIN: 8 CHANXY: 10 IPIN_IN: 32 CHANXY_IN: 86
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 9 9 9 8 8 9 9 9 8 8 
CHANXY_INDEX_START: 0 9 18 27 35 43 52 61 70 78 
CHANXY_CONFIG_WIDTH: 4 4 4 3 3 4 4 4 3 3 
CHANXY_CONFIG_START: 0 4 8 12 15 18 22 26 30 33 

Y_COR: 4 X_COR: 0 IPIN: 8 OPIN: 8 CHANXY: 10 IPIN_IN: 32 CHANXY_IN: 86
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 9 9 9 8 8 9 9 9 8 8 
CHANXY_INDEX_START: 0 9 18 27 35 43 52 61 70 78 
CHANXY_CONFIG_WIDTH: 4 4 4 3 3 4 4 4 3 3 
CHANXY_CONFIG_START: 0 4 8 12 15 18 22 26 30 33 

Y_COR: 5 X_COR: 0 IPIN: 8 OPIN: 8 CHANXY: 25 IPIN_IN: 32 CHANXY_IN: 81
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 2 2 2 2 2 2 2 2 2 1 2 2 2 2 1 9 2 9 2 9 2 8 2 8 2 
CHANXY_INDEX_START: 0 2 4 6 8 10 12 14 16 18 19 21 23 25 27 28 37 39 48 50 59 61 69 71 79 
CHANXY_CONFIG_WIDTH: 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 4 1 4 1 4 1 3 1 3 1 
CHANXY_CONFIG_START: 0 1 2 3 4 5 6 7 8 9 9 10 11 12 13 13 17 18 22 23 27 28 31 32 35 

Y_COR: 1 X_COR: 6 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

Y_COR: 2 X_COR: 6 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

Y_COR: 3 X_COR: 6 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

Y_COR: 4 X_COR: 6 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

Y_COR: 5 X_COR: 6 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

Y_COR: 0 X_COR: 1 IPIN: 8 OPIN: 8 CHANXY: 25 IPIN_IN: 32 CHANXY_IN: 81
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 2 2 9 2 2 2 2 9 2 2 2 2 9 2 2 2 2 8 2 2 2 2 8 1 1 
CHANXY_INDEX_START: 0 2 4 13 15 17 19 21 30 32 34 36 38 47 49 51 53 55 63 65 67 69 71 79 80 
CHANXY_CONFIG_WIDTH: 1 1 4 1 1 1 1 4 1 1 1 1 4 1 1 1 1 3 1 1 1 1 3 0 0 
CHANXY_CONFIG_START: 0 1 2 6 7 8 9 10 14 15 16 17 18 22 23 24 25 26 29 30 31 32 33 36 36 

Y_COR: 0 X_COR: 2 IPIN: 8 OPIN: 8 CHANXY: 10 IPIN_IN: 32 CHANXY_IN: 86
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 9 9 9 8 8 9 9 9 8 8 
CHANXY_INDEX_START: 0 9 18 27 35 43 52 61 70 78 
CHANXY_CONFIG_WIDTH: 4 4 4 3 3 4 4 4 3 3 
CHANXY_CONFIG_START: 0 4 8 12 15 18 22 26 30 33 

Y_COR: 0 X_COR: 3 IPIN: 8 OPIN: 8 CHANXY: 10 IPIN_IN: 32 CHANXY_IN: 86
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 9 9 9 8 8 9 9 9 8 8 
CHANXY_INDEX_START: 0 9 18 27 35 43 52 61 70 78 
CHANXY_CONFIG_WIDTH: 4 4 4 3 3 4 4 4 3 3 
CHANXY_CONFIG_START: 0 4 8 12 15 18 22 26 30 33 

Y_COR: 0 X_COR: 4 IPIN: 8 OPIN: 8 CHANXY: 10 IPIN_IN: 32 CHANXY_IN: 86
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 9 9 9 8 8 9 9 9 8 8 
CHANXY_INDEX_START: 0 9 18 27 35 43 52 61 70 78 
CHANXY_CONFIG_WIDTH: 4 4 4 3 3 4 4 4 3 3 
CHANXY_CONFIG_START: 0 4 8 12 15 18 22 26 30 33 

Y_COR: 0 X_COR: 5 IPIN: 8 OPIN: 8 CHANXY: 25 IPIN_IN: 32 CHANXY_IN: 81
IPIN_CONFIGS: 16 XY_CONFIGS: 36 XY_CONFIGS_START: 16 XY_CONFIGS_END: 51 CONFIGS_DPETH: 2
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 
CHANXY_INPUT_WIDTH: 2 2 2 2 2 2 2 2 2 1 2 2 2 2 1 9 2 9 2 9 2 8 2 8 2 
CHANXY_INDEX_START: 0 2 4 6 8 10 12 14 16 18 19 21 23 25 27 28 37 39 48 50 59 61 69 71 79 
CHANXY_CONFIG_WIDTH: 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 4 1 4 1 4 1 3 1 3 1 
CHANXY_CONFIG_START: 0 1 2 3 4 5 6 7 8 9 9 10 11 12 13 13 17 18 22 23 27 28 31 32 35 

Y_COR: 6 X_COR: 1 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

Y_COR: 6 X_COR: 2 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

Y_COR: 6 X_COR: 3 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

Y_COR: 6 X_COR: 4 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

Y_COR: 6 X_COR: 5 IPIN: 8 OPIN: 8 CHANXY: 0 IPIN_IN: 32 CHANXY_IN: 0
IPIN_CONFIGS: 16 XY_CONFIGS: 0 XY_CONFIGS_START: 0 XY_CONFIGS_END: 0 CONFIGS_DPETH: 1
IPIN_INPUT_WIDTH: 4 4 4 4 4 4 4 4 
IPIN_INDEX_START: 0 4 8 12 16 20 24 28 
IPIN_CONFIG_WIDTH: 2 2 2 2 2 2 2 2 
IPIN_CONFIG_START: 0 2 4 6 8 10 12 14 

